{erl_opts, [
    warnings_as_errors,
    debug_info,
    warn_missing_spec,
    warn_untyped_record
]}.
{sub_dirs, [
    "apps/veon_storage",
    "apps/veon_helper",
    "apps/veon_pdu",
    "apps/veon",
    "rel"
]}.
{relx, [
    {release, {veon, "0.0.1"}, [
        veon_storage,
        veon_helper,
        veon_pdu,
        veon
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.
{dialyzer, [
    {plt_apps, all_deps},
    {plt_extra_apps, [jiffy, jiffy_v]}
]}.
